<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update" method="post">
        <input type="text" value="<%= info.firstname %>" name="firstname">
        <input type="text" value="<%= info.lastname %>"  name="lastname">
        <input type="email" value="<%= info.email %>"  name="email">
        <input type="password" value="<%= info.password %>"  name="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>