<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondClass</title>
</head>
<body>
    <h1>
        Hello World
    </h1>
    <% if (1+1 == 2) { %>
        <h1>The answer is true</h1>
     
    <% } %>

    <table border="1">
        <tr>
            <td>S/N</td>
            <td>Name</td>
            <td>Complexion</td>
        </tr>
    <% for( let index = 0; index < studentArray.length; index++ ) { %>
        <tr>
            <td><%= index+1 %></td>
        <td><%= studentArray[index].name %></td>
        <td><%= studentArray[index].complexion %></td>
        </tr>
    <% } %>
</table>

   
</body>
</html>